* {
  margin: 0;
}

.App {
  position: relative;
  height: 100%;
}

body {
  background: #0B0612;
}


@media screen and (max-width: 1149px) {

  .buttons>input {
    margin-top: 20px;
  }

}

@media screen and (max-width: 702px) {

  .buttons>input {
    margin-top: 40px;
  }

}